/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}
/* Einde aangeleverde code, laten staan, niet veranderen */
/* Vul hieronder je eigen code */

body{
    background-color: blue;
}

/* CSS in User Agent Stylesheet, meegegeven door de browser zelf */
h1{
    font-size: 50px;
    background-color: purple;
}

/* CSS in Author Stylesheet, b.v. style.css */
h1{
    font-size: 50px;
    background-color: darkorange;
}

header{
    width: 100%;
    height: 20%;
    background-color: yellow;
}

main{
    width: 100%;
    height: 80%;
    background-color: red;
}

footer{
    width: 100%;
    height: 20%;
    background-color: green;
}

header img{
    margin: 20px;
}

main img{
    width: 400px;
}

footer img{
    border: 1px solid black;
}

header nav{
    display: flex;
}

ul{
    display: flex;
    border: 1px dashed block;
}

header nav ul li a{
    padding: 20px;
    text-decoration: none;
    border: 1px dashed block;
}

header ul{
    list-style-type: none;
    border: 1px dashed block;
}

footer ul{
    list-style-type: none;
    border: 1px dashed block;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img + ul{
    color:yellow;
    list-style-type: circle;
}

